// Body
$body-bg: #f8fafc;

$primary:#088672;
$secondary:#FEB834;
$light:#fff;
$grey:#D3D3D3;
$blue:#0496C7;
$danger:#F15642;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
